.section-adbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: #fbdbeb;
  color:#cbb080;
  display: flex;
  align-items: center; /* centra verticalmente el texto */
  justify-content: center; /* centra horizontalmente */
  font-size: 0.95rem;
  font-weight: 500;
  z-index: 2000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


