.section-creaciones {
  margin-top: 30px;
}

.section-h1 h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #cbb080;
  font-weight: bold;
  margin-top:50px ;
}

.products-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}

@media (min-width: 1600px){

  .products-container{
  max-width: 1600px;
  grid-template-columns: repeat(4, 1fr);

  }

}
