/* ===== FOOTER ===== */
.footer {
  width: 100vw;
  background-color: #ebd9bb;
  color: #cbb080;
  margin-top: auto;
}

/* Contenedor interno centrado (como el header-container) */
.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 1rem 1rem;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}


/* ===== Responsive ===== */
@media (max-width: 768px) {
  .footer-container {
    padding: 1.5rem 0.5rem;
    font-size: 0.9rem;
  }

  
}
